<div class="container" >
  <h1>新增 公司資訊</h1>
  {{#if hasResult}}
  <h2 style="color: red;">已新增過資料，請使用編輯功能修改！</h2>
  {{/if}}
    {{> message}}
    <form action="/company" method="POST" class="col-12 d-flex flex-column justify-content-center align-items-around mt-5">
      <div class="form-group mb-4 col-12 d-flex">
        <label for="name" class="col-2">公司名稱:</label>
        <input type="text" name="name" id="name" placeholder="請輸入公司名稱" class="form-control" value="{{result.name}}" {{#if hasResult}} value="{{hasResult.NAME}}" disabled {{/if}}>
      </div>

      <div class="form-group mb-4 col-12 d-flex">
        <label for="tel" class="col-2">公司電話:</label>
        <input type="text" name="tel" id="tel" placeholder="請輸入公司電話" class="form-control" value="{{result.tel}}" {{#if hasResult}} value="{{hasResult.TEL}}" disabled {{/if}}>
      </div>

      <div class="form-group mb-4 col-12 d-flex">
        <label for="address" class="col-2">公司地址:</label>
        <input type="text" name="address" id="address" placeholder="請輸入公司地址" class="form-control" value="{{result.address}}" {{#if hasResult}} value="{{hasResult.ADDR}}" disabled {{/if}}>
      </div>

      <div class="form-group mb-4 col-12 d-flex">
        <label for="introduction" class="col-2">公司簡介:</label>
        <textarea type="text" name="introduction" id="introduction" placeholder="請輸入公司簡介" class="form-control" rows="4" {{#if hasResult}} disabled {{/if}}>{{#if hasResult}}{{hasResult.INTRODUCTION}}{{/if}}{{result.introduction}}</textarea>
      </div>

      <div class="form-group mb-4 col-12 d-flex">
        <label for="benefits" class="col-2">公司福利:</label>
        <textarea name="benefits" id="benefits" placeholder="請輸入公司福利" class="form-control" rows="4" {{#if hasResult}} disabled {{/if}}>{{#if hasResult}}{{hasResult.BENEFITS}}{{/if}}{{result.benefits}}</textarea>
      </div>

      <div class="form-group mb-4 col-12 d-flex">
        <label for="worktime" class="col-2">上班時間:</label>
        <textarea name="worktime" id="worktime" placeholder="請輸入公司上、下班時間" class="form-control" rows="4" {{#if hasResult}} disabled {{/if}}>{{#if hasResult}}{{hasResult.WORKTIME}}{{/if}}{{result.worktime}}</textarea>
      </div>

      <div class="form-group mb-4 col-12 d-flex">
        <label for="interview" class="col-2">面試資訊:</label>
        <textarea name="interview" id="interview" placeholder="請輸入公司面試資訊" class="form-control" rows="4" {{#if hasResult}} disabled {{/if}}>{{#if hasResult}}{{hasResult.INTERVIEW}}{{/if}}{{result.interview}}</textarea>
      </div>

      <div class="form-group mb-4 col-12 d-flex">
        <label for="accept" class="col-2">錄取通知:</label>
        <textarea name="accept" id="accept" placeholder="請輸入公司錄取通知方式" class="form-control" rows="4" {{#if hasResult}} disabled {{/if}}>{{#if hasResult}}{{hasResult.ACCEPT}}{{/if}}{{result.accept}}</textarea>
      </div>
      <div class="mb-5 d-flex justify-content-center">
        <button class="btn btn-primary col-2 mx-3 {{#if hasResult}} disabled {{/if}}" type="submit">儲存</button>
        <a href="/" class="btn btn-dark active col-2" role="button">返回</a>
      </div>
    </form>


</div>
