<h1 class="m-5">職缺資訊</h1>
<div class="row d-flex justify-content-center all">
   <div class="col-9 wrapper">
    <div class="scroll-view">
      <ul class="list-group">
        <div class="row d-flex justify-content-center" id="data-panel">
          {{#each positionResult}}
          <div class="col-12">
            <li class="list-group-item" id="record-item" style="border: none;">
              <div class="row">
                <div class="col-12 d-flex justify-content-between" style="border: 1px solid black;">
                  <div class="col-2 d-flex align-items-center justify-content-center" 
                    style="font-weight: bold; color:#111">
                    {{this.POSITION_NAME}}
                  </div>
                  <div class="col-6">
                    <p style="font-size: 13px; white-space:pre-line;">{{ this.POSITION_DES }}</p>
                  </div>
                  <div class="col-4 d-flex flex-row justify-content-center align-items-center">
                    <a href="/position/{{ this.POSITION_ID}}/edit" class="btn btn-primary col-6" style="font-size: 1rem; height:fit-content;">
                        編輯
                    </a>
                    <button class="col-6 btn btn-danger mx-3 my-auto" style="font-size:medium; height:fit-content"
                        id="delete-btn" data-toggle="modal" data-target="#deleteModal" data-id="{{ this.POSITION_ID }}"
                        data-name="{{ this.POSITION_NAME }}">
                        刪除
                    </button>
                  </div>
                </div>
              </div>
            </li>
          </div>
          {{/each}}
        </div>
      </ul>
    </div>
  </div>

  <div class="col-10">
    <div class="row justify-content-center">
      <a href="/position/new" class="btn btn-outline-primary col-4 my-5" id="create-btn"
        style="font-size: 1.5rem;">新增職缺</a>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">刪除職缺</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <p>確定要刪除<strong id="delete-position">{{ this.POSITION_NAME }}</strong>?</p> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <form action="/position/{{ this.POSITION_ID }}" method="post" style="display:inline-block;" id="delete-form">
          <button type="submit" class="btn btn-danger">確定</button>
        </form>
      </div>
    </div>
  </div>
</div>